$mb: hsl(238, 40%, 52%);  // Moderate blue
$sr: hsl(358, 79%, 66%);  // Soft Red 
$lgb: hsl(239, 57%, 85%); // Light grayish blue
$pr: hsl(357, 100%, 86%); // Pale red

$db: hsl(212, 24%, 26%); // Dark Blue
$gb: hsl(211, 10%, 45%); // Grayish Blue
$lg: hsl(223, 19%, 93%); // Light gray	
$vlg: hsl(228, 33%, 97%); // Very light gray
$w: hsl(0, 0%, 100%); // White

.comment{
	display:flex;
	.upvotes{
		display:flex;
	}
}
